$primary-color: #808000;
$secondary-color: #ff8c00;
$third-color: #f5f5dc;
$light-second: #f4a460;
$light-second-opacity: rgba(244, 164, 96, 0.5);
$white: #fff;
$black: #333;

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}