@import "./variables";

.footer {
  height: 120px;
  background-color: $third-color;
  color: $black;
  width: 100%;
  padding: 0 2rem;
  margin-top: auto;
  text-align: left;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: $black;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    margin: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      &:nth-child(2) {
        padding: 0.5rem 0;
      }

      span {
        font-style: italic;
      }
    }
  }
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  .socials {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    img {
      width: 32px;
      margin: 0 5px;
      &:hover {
        cursor: pointer;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
