@import "./variables";

.footer {
  height: 140px;
  background-color: $third-color;
  color: $black;
  width: 100%;
  padding: 0 2rem;
  margin-top: auto;
  text-align: left;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: $black;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    margin: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      &:nth-child(2) {
        padding: 0.5rem 0;
      }

      span {
        // font-style: italic;
      }
    }
  }
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  .socials {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    img,
    a {
      width: 32px;
      height: 32px;
      margin: 0 5px;
      &:hover {
        cursor: pointer;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .footer {
    height: 200px;
    .container {
      flex-direction: column;
      justify-content: center;
      width: 275px;
      padding: 0;
      .right {
        width: 100%;
        flex-direction: row;
        justify-content: left;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0;
    .container {
      padding: 0 0 0 1rem;
      align-items: flex-start;
      width: unset;
      .left {
        .phone {
          display: flex;
          flex-direction: column;
        }
      }
      .right {
        display: inline;
      }
    }
  }
}
