@import "variables";

.prices {
  padding-bottom: 9.4rem;
  h2 {
    padding-bottom: 5rem;
  }
  .prices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // padding: 0 1rem;
    grid-gap: 1.6rem;

    .grid-item {
      padding: 0.5rem 0;
      max-width: 560px;

      .item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid $light-second-opacity;
        font-size: 1.25rem;
      }

      div {
        padding-top: 10px;
        p {
          font-weight: 300;
          margin: 0;
        }
      }
    }
  }
}
