@import "variables";

.prices {
  padding-bottom: 9.4rem;
  h2 {
    padding-bottom: 5rem;
  }
  .prices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;

    .grid-item {
      padding: 0.5rem 0;
      max-width: 560px;

      .item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid $light-second-opacity;
        font-size: 1.25rem;
        span {
          min-width: 70px;
        }
      }

      div {
        padding-top: 10px;
        p {
          font-weight: 300;
          margin: 0;
        }
      }
    }
  }

  .prices-subheading {
    text-align: center;
    font-style: italic;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .prices {
    .prices-container {
      display: flex;
      flex-direction: column;

      .grid-item {
        width: 100%;
        max-width: none;
        .item-title {
          min-height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 391px) {
  .prices {
    .container {
      padding: 0 1rem;
    }
    h2 {
      padding-top: 6rem;
      font-size: 2rem;
    }
    .prices-container {
      .grid-item {
        .item-title {
          font-size: 1rem;

          span {
            font-size: 0.8rem;
            min-width: 50px;
          }
        }
      }
    }
  }
}
