@import "variables";

.reviews {
  background-color: $third-color;
  .container {
    position: relative;
  }
  .scroll-container {
    display: flex;
    // justify-content: center;
    overflow: hidden;
    margin: auto;
    align-items: center;
    max-width: 730px;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      height: 1rem;
    }

    .review-container {
      overflow: hidden;
      min-width: 730px;
      max-width: 730px;
      margin-right: 10rem;
      margin-bottom: auto;
      scroll-snap-align: center;
      font-size: 1.2rem;
      font-weight: 300;
      padding-bottom: 1rem;

      .inner {
        transition: transform 0.3s ease-in-out;

        .review-item {
          padding: 2rem;
          // background-color: $white;

          border-radius: 5px;
        }
        h3 {
          font-size: 1rem;
        }
      }
    }
  }

  .scroll-btns {
    position: absolute;
    top: 50%;
    width: 90%;
    // height: 15rem;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;

    .btn-arrow {
      background-color: $light-second;
      border: 1px solid $light-second;
      border-radius: 25px;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .reviews {
    .scroll-container {
      .review-container {
        .inner {
          padding: 0 2rem;
          .review-item {
            padding: 2rem 3rem;
          }
        }
      }
    }
    .scroll-btns {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .reviews {
    h2 {
      // padding-top: 6rem;
      padding-bottom: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .scroll-container {
      .review-container {
        .inner {
          padding: 0 2rem;
          .review-item {
            padding: 2rem 2rem;
          }
        }
      }
    }
    .scroll-btns {
      padding: 0;
      bottom: 50px;
      top: unset;
      .btn-arrow {
        border-radius: 5px;
        padding: 0.5rem 0;
      }
    }
  }
}
