---
import "../../styles/footer.scss";
import linkedin from "../public/linkedin.png";
import telegram from "../public/telegram.png";
import whatsapp from "../public/whatsapp.png";
import instagram from "../public/instagram.png";
---

<footer class="footer">
  <div class="container">
    <div class="left">
      <p>
        Email: <span
          ><a href="mailto:elious08@gmail.com">elious08@gmail.com</a></span
        >
      </p>
      <p>WhatsApp, Telegram: <span>+7 916 213 1470</span></p>
      <p>Calgary, Alberta</p>
    </div>
    <div class="right">
      <div class="socials">
        <img src={linkedin} alt="linkedin" loading="lazy" />
        <img src={telegram} alt="telegram" loading="lazy" />
        <img src={whatsapp} alt="whatsapp" loading="lazy" />
        <img src={instagram} alt="instagram" loading="lazy" />
      </div>

      <p><a href="https://dhammadevs.com">DhammaDevs</a></p>
    </div>
  </div>
</footer>
