---
import "../../styles/header.scss";
import russia from "/russia.png";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <h1>Yuli Prokop</h1>
      </a>
    </div>
    <nav>
      <ul class="nav-items">
        <li class="item"><a href="#about">About</a></li>
        <li class="item"><a href="#prices">Services & Prices</a></li>
        <li class="item"><a href="#contact">Contact</a></li>
        <li class="item lang">
          <a href="/ru">
            <img src={russia} alt="russian flag" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
