---
import "../../styles/hero.scss";
import headshot from "/yuli-headshot.jpeg";
---

<section class="hero" id="about">
  <picture>
    <source type="image/webp" />
    <img src={headshot} alt="Yuli Prokop Headshot" loading="eager" />
  </picture>

  <div class="hero-text">
    <h2>Hi, I'm Yuli Prokop</h2>
    <p>
      Psychologist with over 13 years of practical experience. I work with both
      specific requests and emotional conditions at the level of the root causes
      of difficulties. The main methods of work are work with visualization,
      immersion in past emotionally significant situations and active listening.
    </p>
    <a href="#contact"><button class="btn btn-primary">Sign Up</button></a>
  </div>
</section>
