---
import "../../styles/hero.scss";
import headshot from "/yuli-headshot.jpeg";
---

<section class="hero" id="about">
  <picture>
    <source type="image/webp" />
    <img src={headshot} alt="Yuli Prokop Headshot" loading="eager" />
  </picture>

  <div class="hero-text">
    <h2>Hi, I am Yulia Prokop, Psychological Consultant</h2>
    <p>
      Psychological consultant with over 13 years of experience. I specialize in
      emotional disorders and relationship difficulties. In my work, I utilize
      visualization and active listening techniques.
    </p>
    <a href="#contact"><button class="btn btn-primary">Sign Up</button></a>
  </div>
</section>
