---
import "../../styles/hero.scss";
import headshot from "/yuli-headshot.jpeg";
---

<section class="hero">
  <picture>
    <source type="image/webp" />
    <img src={headshot} alt="Yuli Prokop Headshot" loading="lazy" />
  </picture>

  <div class="hero-text">
    <h2>Psychological Therapist with over 13 years of experience</h2>
    <p>
      Hi, I am Yulia Prokop, clinical psychologist. I specialize in emotional
      disorders and difficulties in relationships with people. I use
      visualization and active listening in my work.
    </p>
    <button class="btn btn-primary"><a href="#contact">Sign Up</a></button>
  </div>
</section>
