---
import "../../styles/points.scss";
import education from "../../../public/education.svg";
import experience from "../../../public/experience.svg";
---

<section class="points">
  <div class="list-group">
    <img src={education} alt="education icon" />
    <div>
      <h3>Education</h3>
      <ul>
        <li>Graduated from Smolensk Humanitarian University in 2009</li>
        <li>
          More than 600 hours of group classes in the framework of transpersonal
          psychology led by Vladislav Keng ( President of the Latvian and
          International ( SAULE ) Association of Transpersonal Psychology )
        </li>
      </ul>
    </div>
  </div>
  <div class="list-group">
    <img src={experience} alt="experience icon" />
    <div>
      <h3>Experience</h3>
      <ul>
        <li>Consulting clients in my private practice since 2009</li>
        <li>Developed my own system of diagnostics and therapeutic process</li>
        <li>
          Conducted many group classes in the framework of transpersonal
          psychology
        </li>
      </ul>
    </div>
  </div>
</section>
