---
import "../../styles/prices.scss";
---

<section class="prices" id="prices">
  <div class="container">
    <h2>Services & Prices</h2>

    <div class="prices-container">
      <div class="grid-item">
        <h3 class="item-title">Consultation <span>$200</span></h3>
        <div>
          <p>
            The consultation involves an introduction, discussion of the
            request, diagnostics, work with reasons, summerizing, and planning
            subsequent consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Couple Consultation <span>$250</span>
        </h3>
        <div>
          <p>
            The couple consultation involves an introduction, discussion of the
            request, diagnostics, work with reasons, summerizing, and planning
            subsequent consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Consultation for Children & Students <span>$150</span>
        </h3>
        <div>
          <p>
            Consultation involves an introduction, discussion of the request,
            diagnostics, work with reasons, summerizing, and planning subsequent
            consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Psychedelic Assisted Therapy <span>$1275</span>
        </h3>
        <div>
          <p>
            This is a long and intensive sesison where we will work for 6-10
            hours straight. This will give you a big push to start working on
            your issues. The consultation involves an introduction, discussion
            of the request, diagnostics, work with reasons, summerizing, and
            planning subsequent consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 6-8 hours</p>
        </div>
      </div>
      <div class="grid-item difficulties">
        <h3 class="item-title">
          Have Financial Difficulties? <span>Let's Discuss</span>
        </h3>
        <div>
          <p>
            Consultation involves an introduction, discussion of the request,
            diagnostics, work with reasons, summerizing, and planning subsequent
            consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
    </div>
  </div>
</section>
