---
import "../../styles/prices.scss";
---

<section class="prices" id="prices">
  <div class="container">
    <h2>Services & Prices</h2>

    <div class="prices-container">
      <div class="grid-item">
        <h3 class="item-title">First Consultation <span>$200</span></h3>
        <div>
          <p>
            The first consultation involves an introduction, discussion of the
            request, diagnostics, work with reasons, summerizing, and planning
            subsequent consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          First Couple Consultation <span>$250</span>
        </h3>
        <div>
          <p>
            The first couple consultation involves an introduction, discussion
            of the request, diagnostics, work with reasons, summerizing, and
            planning subsequent consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Further Consultations
          <span>$160</span>
        </h3>
        <div>
          <p>
            Discussion between consultations, work on reasons for difficulties,
            debriefing, and (if necessary) planning for the next meeting and
            tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Further Couple Consultations <span>$210</span>
        </h3>
        <div>
          <p>
            Discussion between consultations, work on reasons for difficulties,
            debriefing, and (if necessary) planning for the next meeting and
            tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Consultation for Children & Students <span>$150</span>
        </h3>
        <div>
          <p>
            Consultation involves an introduction, discussion of the request,
            diagnostics, work with reasons, summerizing, and planning subsequent
            consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Have Financial Difficulties? <span>Let's Discuss</span>
        </h3>
        <div>
          <p>
            Consultation involves an introduction, discussion of the request,
            diagnostics, work with reasons, summerizing, and planning subsequent
            consultations and tasks for independent work.
          </p>
          <p>Duration of consultation - 2 hours</p>
        </div>
      </div>
    </div>
  </div>
</section>
