---
import "../../styles/reviews.scss";
const reviews = await Astro.glob("./reviews/*.md");
---

<section class="reviews" id="reviews">
  <div class="container">
    <h2>Reviews</h2>
    {
      reviews.map((review) => {
        const { Content } = review;

        return (
          <article class="review">
            <Content />
            <h3>
              {review.frontmatter.name}, {review.frontmatter.age}
            </h3>
          </article>
        );
      })
    }
  </div>
</section>
