---
import "../styles/contact.scss";

export interface Props {
  title: string;
  telephone: string;
  name: string;
  button: string;
  privacy: string;
}

const { title, telephone, name, button, privacy } = Astro.props as Props;

import backgroundImg from "/form_background.jpeg";
---

<section id="contact" class="contact">
  <img loading="lazy" src={backgroundImg} role="presentation" />
  <div class="overlay"></div>
  <div class="container contact-container">
    <h2>{title}</h2>

    <form class="form" name="contact" method="POST" data-netlify="true">
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <input type="text" id="phone" name="phone" placeholder="Telephone" />
      </div>
      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="Name" />
      </div>
      <div class="form-group">
        <textarea
          id="message"
          name="message"
          rows="10"
          placeholder="Write a message"></textarea>
      </div>
      <button class="btn btn-primary btn-block" id="formBtn" type="submit"
        >{button}</button
      >
      <p>{privacy}</p>
    </form>
  </div>
</section>

<script>
  const form = document.querySelector(".form") as HTMLFormElement;
  const emailInput = document.getElementById("email") as HTMLFormElement;
  const nameInput = document.getElementById("name") as HTMLFormElement;
  const messageInput = document.getElementById("message") as HTMLFormElement;
  const button = document.getElementById("formBtn") as HTMLFormElement;

  button.addEventListener("click", (e) => {
    e.preventDefault();
    console.log("hellow??");

    // Check if email, name, and message inputs have some content
    if (
      !emailInput.value ||
      emailInput.value.trim() === "" ||
      !nameInput.value ||
      nameInput.value.trim() === "" ||
      !messageInput.value ||
      messageInput.value.trim() === ""
    ) {
      alert("Please fill out all fields");
    } else {
      // Submit the form
      form.submit();
    }
  });
</script>
