---
import "../styles/footer.scss";
import linkedin from "/linkedin.png";
import telegram from "/telegram.png";
import whatsapp from "/whatsapp.png";
import instagram from "/instagram.png";
---

<footer class="footer">
  <div class="container">
    <div class="left">
      <p>
        Email: <span
          ><a href="mailto:elious08@gmail.com">elious08@gmail.com</a></span
        >
      </p>
      <p class="phone">WhatsApp, Telegram: <span>+7 916 213 1470</span></p>
      <p>Calgary, Alberta</p>
    </div>
    <div class="right">
      <div class="socials">
        <!-- <img src={linkedin} alt="linkedin" loading="lazy" /> -->
        <a href="https://t.me/yuli_prokop" target="_blank"
          ><img src={telegram} alt="telegram" loading="lazy" /></a
        >
        <img src={whatsapp} alt="whatsapp" loading="lazy" />
        <a href="https://www.instagram.com/yuliprokop/" target="_blank"
          ><img src={instagram} alt="instagram" loading="lazy" /></a
        >
      </div>

      <p><a href="https://dhammadevs.com">DhammaDevs</a></p>
    </div>
  </div>
</footer>
