---
import "../../styles/hero.scss";
import headshot from "/yuli-headshot.jpeg";
---

<section class="hero" id="about">
  <picture>
    <source type="image/webp" />
    <img src={headshot} alt="Yuli Prokop Headshot" loading="lazy" />
  </picture>

  <div class="hero-text">
    <h2>Психолог с опытом работы более 13 лет</h2>
    <p>
      Здравствуйте, я Юлия Прокоп, клинический психолог. Я специализируюсь на
      эмоциональном расстройства и трудности в отношениях с людьми. я использую
      визуализация и активное слушание в моей работе.
    </p>
    <a href="#contact"><button class="btn btn-primary">Записаться</button></a>
  </div>
</section>
