---
import "../../styles/points.scss";
import education from "/education.svg";
import experience from "/experience.svg";
---

<section class="points" id="points">
  <div class="list-group">
    <img src={education} alt="Образование икона" />
    <div>
      <h3>Образование</h3>
      <ul>
        <li>Окончил Смоленский гуманитарный университет.</li>
        <li>
          Более 600 часов групповых занятий в рамках трансперсональной
          психологии под руководством Владислава Кенга (президент Латвийской и
          Международной (SAULE) ассоциации трансперсональной психологии
        </li>
      </ul>
    </div>
  </div>
  <div class="list-group">
    <img src={experience} alt="Опыт икона" />
    <div>
      <h3>Опыт</h3>
      <ul>
        <li>
          Проводила групповые занятия в рамках трансперсональной психологии
        </li>
        <li>
          Разработала свою систему диагностики и терапевтического процесса
        </li>
        <li>
          В данный момент консультирую на протяжении 13 лет в рамках частной
          практики
        </li>
      </ul>
    </div>
  </div>
</section>
