---
import "../../styles/prices.scss";
---

<section class="prices" id="prices">
  <div class="container">
    <h2>Услуги и цены</h2>

    <div class="prices-container">
      <div class="grid-item">
        <h3 class="item-title">Первая консультация <span>5000 ₽</span></h3>
        <div>
          <p>
            Первая консультация подразумевает знакомство, обсуждение запроса,
            диагностику, работу с причинами, подведение итогов и при
            необходимости планирование последующей консультации и заданий для
            самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Первичная семейная консультация <span>6000 ₽</span>
        </h3>
        <div>
          <p>
            Первая консультация подразумевает знакомство, обсуждение запроса,
            диагностику, работу с причинами, подведение итогов и при
            необходимости планирование последующей консультации и заданий для
            самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">Повторная консультация <span>4500 ₽</span></h3>
        <div>
          <p>
            Обсуждение произошедшего между консультациями, работа с причинами
            трудностей, подведение итогов и при необходимости планирование
            следующей встречи и заданий для самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Повторная семейная консультация <span>5500 ₽</span>
        </h3>
        <div>
          <p>
            Обсуждение произошедшего между консультациями, работа с причинами
            трудностей, подведение итогов и при необходимости планирование
            следующей встречи и заданий для самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Консультация для школьников и студентов <span>4000 ₽</span>
        </h3>
        <div>
          <p>
            Консультация подразумевает знакомство, обсуждение запроса,
            диагностику, работу с причинами, подведение итогов и при
            необходимости планирование последующей консультации и заданий для
            самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
      <div class="grid-item">
        <h3 class="item-title">
          Консультация для малоимущих <span>Обсуждается</span>
        </h3>
        <div>
          <p>
            Консультация подразумевает знакомство, обсуждение запроса,
            диагностику, работу с причинами, подведение итогов и при
            необходимости планирование последующей консультации и заданий для
            самостоятельной работы.
          </p>
          <p>Длительность консультации 2 часа.</p>
        </div>
      </div>
    </div>
  </div>
</section>
