---
import "../../styles/reviews.scss";
import ReviewCard from "./ReviewCard.astro";

const reviewsArr = [
  {
    id: 1,
    review:
      "Хочу выразить огромную благодарность судьбе, Вселенной и всем печальным обстоятельствам, которые привели меня к Юле. Я всегда скептично относилась к психологии и не особо верила, что смогу открыть душу незнакомому человеку. Но все это случилось. Чуткость и внимательность Юли позволяют открыто делиться всеми мыслями, даже теми, которыми не можешь поделиться с собой. Я безмерно благодарна за каждую проведённую сессию и не собираюсь останавливаться, потому что на этих встречах я заново знакомлюсь с собой, учусь переживать обиды и травмы. На этих встречах я заново учусь жить.",
    name: "Вероника",
    age: 30,
  },
  {
    id: 2,
    review:
      "С Юлией работаем примерно с августа 2021, контакт дала мастер, когда я жаловалась на то, что наткнулась на плохого специалиста: «попробуй, меня все устраивает». Я пришла с конкретным запросом, первая сессия прошла очень плодотворно! Уже за первые два часа я почувствовала, как сдвинулась с мертвой точки, с той точки, на которой топталась долгие годы.Мы продолжаем регулярно встречаться с Юлией, мне очень импонирует ее подход к проведению сеанса, нет никакого давления или принуждения к чему-либо. Очень нравится, что Юлия всегда на связи. Если в какие-то моменты мне срочно нужно прояснить какую-то ситуацию, получить некий совет со стороны психолога - она всегда на связи. И, конечно же, это не только профессионал своего дела, но и прекрасный человек ❤️",
    name: "Дарья",
    age: 21,
  },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
  // {
  //   id: 1,
  //   review:
  //     "",
  //   name: "",
  //   age: ,
  // },
];
---

<section class="reviews" id="reviews">
  <div class="container">
    <h2>Отзывы</h2>

    <ReviewCard
      review={[
        "С Юлией работаем примерно с августа 2021, контакт дала мастер, когда я жаловалась на то, что наткнулась на плохого специалиста: «попробуй, меня все устраивает». Я пришла с конкретным запросом, первая сессия прошла очень плодотворно! Уже за первые два часа я почувствовала, как сдвинулась с мертвой точки, с той точки, на которой топталась долгие годы. Мы продолжаем регулярно встречаться с Юлией, мне очень импонирует ее подход к проведению сеанса, нет никакого давления или принуждения к чему-либо.",
        "Очень нравится, что Юлия всегда на связи. Если в какие-то моменты мне срочно нужно прояснить какую-то ситуацию, получить некий совет со стороны психолога - она всегда на связи.",
        "И, конечно же, это не только профессионал своего дела, но и прекрасный человек ❤️",
      ]}
    />
  </div>
</section>
