---
import "../styles/global.scss";
export interface Props {
  title?: string;
}

const { title = "Yulia Prokop" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Yulia Prokop offers effective psychological help offering personalized therapy services to help you overcome life's challenges and emotional difficulties. Sign up now"
    />
    <meta property="og:title" content="Yulia Prokop Psychology" />
    <meta
      property="og:description"
      content="Yulia Prokop offers effective psychological help offering personalized therapy services to help you overcome life's challenges and emotional difficulties. Sign up now"
    /><meta name="yandex-verification" content="d7e7a5f36d5f3f60" />
    <meta property="og:image" content="/yuli-headshot.jpeg" />
    <meta property="og:url" content="https://zizikarma.com" />
    <meta
      name="google-site-verification"
      content="Zmgd3IFpo-_kVt4Iiqu7y_6-4Qezd_f90nY-MuD7JwI"
    />
    <meta name="yandex-verification" content="ea49938e2878efac" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Yuli Prokop,
      Mental Health,
      Therapy,
      Therapist,
      Counseling,
      Psychologist,
      Therapist near me,
      psychologist near me,
      Wellness,
      Mindfulness,
      Stress Management,
      Depression,
      Anxiety,
      Panic Attack,
      psychotherapy"
    />
    <meta name="author" content="Yulia Prokop" />
    <meta
      name="google-site-verification"
      content="m44TQxIlIL0_iFSpY5VSEHnt_pVDghSDhbYOmpYXQnU"
    />
    <meta name="msvalidate.01" content="40FDF646A6A589717E0209625D0C26D4" />
    <meta name="theme-color" content="#057389" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="./icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <link rel="shortcut icon" href="favicon.ico" type="icons/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
